.container {
  position: relative;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.skills {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 25px;
}

.skill {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;

  padding: 8px 8px;
  background-color: #0c0c0c;
  border: 1px solid #ffffff;
}

.i {
  font-size: 20px;
  color: #ffffff;
}

.skill:hover {
  background-color: #00ff00;

  .i {
    color: #000000;
  }
}

.imagen img {
  margin-top: 100px;
  width: 500px;
  height: auto;

  -webkit-box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
  -moz-box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
  box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
}
