.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.skills {
  display: flex;
  gap: 25px;
}

.skill {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;

  padding: 8px 8px;
  background-color: #0c0c0c;
  border: 1px solid #ffffff;
}

.i {
  font-size: 20px;
  color: #ffffff;
}

.skill:hover {
  background-color: #00ff00;

  .i {
    color: #000000;
  }
}

.imagen img {
  margin-top: 100px;
  width: 500px;
  height: auto;

  -webkit-box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
  -moz-box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
  box-shadow: 16px 16px 13px -6px rgba(255, 221, 0, 0.82);
}
