.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding: 25px;
  position: fixed;
  background: rgb(7, 7, 7);
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

.li {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
}

.a {
  color: #ffffff;
  font-size: 16px;
  padding: 5px 22px;
  text-decoration: none;
  font-weight: 400;

  .active {
    background: #141414;
    color: #ae00ff;
  }
}

.a:hover {
  color: #ae00ff;
}

.a.active {
  color: #ae00ff;
  font-size: 16px;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: 400;
}

.checkbtn {
  font-size: 20px;
  color: #402c25;
  float: left;
  margin-left: 10px;
  padding: 0px;
  cursor: pointer;
  display: none;
}

.check {
  display: none;
}

@media (max-width: 952px) {
  .a {
    font-size: 12px;
  }
}

@media (max-width: 858px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0;
  }

  .checkbtn {
    font-size: 50px;
    padding: 5px;
    margin-left: 10px;
    float: left;
    color: #ffffff;
    cursor: pointer;
    display: block;
  }

  .ul {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: #000000;
    top: 75px;
    left: -200%;
    text-align: left;
    transition: all 0.2s ease;
  }

  .li {
    display: block;
    margin: 80px 0px;
    line-height: 20px;
  }

  .a {
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
  }

  .a.active,
  .a:hover {
    background: none;
    color: #ae00ff;
  }

  .check:checked ~ ul {
    left: 0%;
  }
}
