* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #161616;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(10, 10, 10) 60%,
    rgb(20, 20, 20) 100%
  );
  color: #ffffff;
  font-family: "IBM Plex Mono", serif;
  overflow-x: hidden;
}
